/*
Name: Sultan Abu Shabab
File: style.css
Date: May 22, 2026
Assignment 1 Part 2 - Structural Layout Style Sheets
*/

html, body {
  margin: 0;
  padding: 0;
}
html {
  font-size: 10px;
  background-color: #a9a9a9;
}
body {
  width: 70%;
  min-width: 800px;
  margin: 0 auto;
}